@page
@model IndexModel
@using System.Reflection
@{
    ViewData["Title"] = "Home page";
    //Version version = Assembly.GetEntryAssembly().GetName().Version;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @*<p>@(version?.Major + "." + version?.Minor + "." + version?.Build)</p>*@
</div>
