@page
@model IndexModel
@using System.Reflection
@{
    ViewData["Title"] = "Home page";
    Version version = Assembly.GetEntryAssembly().GetName().Version;
}

<div class="text-center">
    <h1 class="display-4">XERP</h1>
    <p>Demo ERP App.</p>
    <p>V @(version?.Major + "." + version?.Minor + "." + version?.Build)</p>
</div>
